<nav class="navbar navbar-expand-lg "
        style="background: linear-gradient(90deg, rgba(129,223,202,1) 0%, rgba(39,166,138,1) 47%, rgba(5,92,73,1) 100%);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/5/54/Logo-utez.png" alt="utez" height="35"
                    width="85"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link txtNav" href="./../../../home/adapters/pages/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link txtNav" href="./../../../about/adapters/pages/about.html">Acerca de nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link txtNav" href="./../../../news/adapters/pages/news.html">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link txtNav" href="./../../../contact/adapters/pages/contact.html">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>